<!DOCTYPE html>
<html lang="uk">
<head>
    <style>
        body {
            color: black;
            font-family: Arial, sans-serif;
        }
        p, b {
            color: black;
        }
        li {
            list-style: none;
        }
    </style>
</head>
<body>
    <div>
        <img height="35" src="{{protocol}}://178.212.110.52/craftMerge-logo.png" alt="CRAFTMERGE"/>
        <p>Доброго дня.</p>
        <p>За попередній місяць на сайт було завантажено:</p>
        <ul>
            <li>Банерів: {{ num_of_banners }}, загальний розмір – {{ size_of_banners }} кБ</li>
            <li>Логотипів: {{ num_of_logos }}, загальний розмір – {{ size_of_logos }} кБ</li>
        </ul>
        <p>З повагою,<br />
            Команда CraftMerge
        </p>
    </div>
</body>
</html>