.loader__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.loader__bar {
  display: flex;
  gap: 5px;
}

.loader__bar span {
  display: inline-block;
  width: 15px;
  height: 5px;
  background-color: var(--primary-green-80);
  animation: loading-animation 1.5s infinite ease-in-out;
  border-radius: 3px;
}

.loader__bar span:nth-child(1) {
  animation-delay: 0s;
}
.loader__bar span:nth-child(2) {
  animation-delay: 0.2s;
}
.loader__bar span:nth-child(3) {
  animation-delay: 0.4s;
}
.loader__bar span:nth-child(4) {
  animation-delay: 0.6s;
}

@keyframes loading-animation {
  0% {
    opacity: 0.3;
    transform: scaleX(1);
  }
  50% {
    opacity: 1;
    transform: scaleX(1.5);
  }
  100% {
    opacity: 0.3;
    transform: scaleX(1);
  }
}

.loader__message {
  margin-top: 16px;
  font-family: var(--font-main);
  font-size: 1rem;
  color: var(--main-text-color);
  text-align: center;
}

@media (max-width: 375px) {
  .loader__bar span {
    width: 10px;
    height: 4px;
  }
  .loader__message {
    font-size: 0.875rem;
  }
}

@media (max-width: 768px) {
  .loader__container {
    min-height: 80vh;
  }
}

@media (min-width: 1200px) {
  .loader__container {
    min-height: 40vh;
  }
}

@media (min-width: 2560px) {
  .loader__container {
    min-height: 25vh;
  }
}
