.contacts-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 24px;
    background-color: var(--background__admin-panel);
    border: 1px solid var(--border-input__admin-panel);
    border-radius: 8px;
    font-family: var(--font__admin-panel);
    box-shadow: 0px 4px 8px var(--box-shadow-color__admin-panel);
}

.contacts-title {
    font-size: 16px;
    font-weight: 600;
    color: var(--font-color__admin-panel);
    margin-bottom: 16px;
}

.contacts-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-label {
    font-size: 14px;
    font-weight: 400;
    color: var(--main-black-90, #292E32);
    margin-bottom: 4px;
    font-family: var(--font-main);
}

.form-input {
    width: 100%;
    height: 40px;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid var(--border-input__admin-panel);
    border-radius: 4px;
    background-color: var(--background-input__admin-panel);
    box-sizing: border-box;
}

.form-input:focus {
    border-color: var(--main-button-color);
    outline: none;
    box-shadow: 0 0 3px var(--main-button-hover-color);
}

.form-buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 16px;
    gap: 12px;
}

.save-button {
    display: flex;
    padding: 7px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--main-button-color);
    color: var(--main-button-text-color);
    text-align: center;
    font-family: var(--font__admin-panel);
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    font-feature-settings: 'calt' off;
}

.save-button:hover {
    background-color: var(--main-button-hover-color);
}

.save-button:disabled {
    background-color: var(--main-button-disabled-color);
    color: var(--main-button-disabled-text-color);
    cursor: not-allowed;
}

.success-message,
.error-message {
    margin-top: 12px;
    font-size: 14px;
}

.success-message {
    color: var(--background-butons__admin-panel);
}

.error-message {
    color: var(--error-notification-text-color__admin-panel);
}

.loading {
    text-align: center;
    font-size: 14px;
    color: var(--font-color__admin-panel);
}
