.moderation_email-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.moderation_email-section__head {
    font-size: 14px;
    font-weight: normal;
}

.moderation_email-asterisk {
    font-family: var(--font-main);
    font-size: 14px;
    padding-right: 3px;
    color: var(--notification-text-color__admin-panel);
}

.moderation_email-label {
    color: var(--main-black-90, #292E32);
    font-family: var(--font-main);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;
}

.moderation_email-input {
    width: 269px;
    height: 40px;
    box-sizing: border-box;
    padding: 9px 12px;
    font-size: 14px;
    border: 1px solid var(--border-input__admin-panel);
    border-radius: 2px;
}

.buttons-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 269px;
}

.save-button {
    display: flex;
    padding: 7px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 124px;
    border-radius: 4px;
    background: #B4D27A;
    color: black;
    text-align: center;
    font-feature-settings: 'calt' off;
    text-decoration: none;
    font-family: var(--font-main);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.16px;
    cursor: pointer;
}

.cancel-button {
    background-color: white;
    border: 1px solid #B4D27A;
}

.error-message {
    color: rgb(212, 21, 21);
    font-family: var(--font-main);
    font-size: 14px;
}
