.tag {
    margin: 0 8px 8px 0;
}

.banner-image {
    object-fit: cover;
}

.logo-image {
    object-fit: contain;
}

.log-section {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 30px;
    overflow-y: auto;
 }
    
 .log {
    margin-bottom: 10px;
 }
