.tag {
    margin: 0 8px 8px 0;
}

.profile-detail-page {
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}

.banner-image {
    object-fit: cover;
}

.logo-image {
    object-fit: contain;
}

.profile-details-section {
    margin-left: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.log-section {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 30px;
    overflow-y: auto;
 }
    
 .log {
    margin-bottom: 10px;
 }

.button__delete {
    color: #F15831;
    cursor: pointer;
    height: 32px;
    padding: 5px 15px 5px 15px;
    margin-top: 8px;
    border-radius: 4px;
    gap: 10px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
        linear-gradient(0deg, #F15831, #F15831);
    border: 1px solid #F15831;
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: center;
}

.save-button {
    display: flex;
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 4px;
    border: 1px solid #1F9A7C;
    background: #1F9A7C;

    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);

    /* Button Text */
    color: #FFF;
    text-align: center;
    font-feature-settings: 'calt' off;
    text-decoration: none;
    font-family: var(--font-main);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.16px;
}

.save-button:hover {
    background: #FFF;
    color: #1F9A7C;
}