.categoriesActionsModalContent {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.categoriesActionsInput {
    width: 100%;
}

.categoriesActionsSelect {
    width: 100%;
}

.categoriesActionsTextarea {
    width: 100%;
}

.categoriesActionsError {
    color: var(--activity-categories-error-color);
    font-size: 12px;
    margin: 0;
}
