.categoryAddContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 341px;
}

.categoryAddTitle {
    width: 100%;
}

.categoryAddText {
    width: 100%;
}

.categoryAddContainer,
.categoryAddTitle,
.categoryAddText {
    color: var(--activity-categories-text-color);
    font-feature-settings: 'calt' off;
    text-decoration: none;
    font-family: var(--font__admin-panel);
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.14px;
}

.categoryAddButtonsBlock {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
}

.categoryAddButton {
    width: 124px;
    height: 36px;
}

.categoryAddInput {
    min-height: 40px;
    border-radius: 2px;
}

.categoryAddError {
    color: var(--activity-categories-error-color);
    font-size: 12px;
    margin: 0;
}
