.feedbackCategoryAddContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 341px;
}

.feedbackCategoryAddTitle {
    width: 100%;
}

.feedbackCategoryAddText {
    width: 100%;
}

.feedbackCategoryAddContainer,
.feedbackCategoryAddTitle,
.feedbackCategoryAddText {
    color: var(--feedback-category-add-text-color);
    font-feature-settings: 'calt' off;
    text-decoration: none;
    font-family: var(--font__admin-panel);
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.14px;
}

.feedbackCategoryAddButtonsBlock {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
}

.feedbackCategoryAddButton {
    width: 124px;
    height: 36px;
}

.feedbackCategoryAddInput {
    width: 100%;
    min-height: 36px;
    border-radius: 2px;
    padding: 8px;
    font-size: 14px;
}

.feedbackCategoryAddError {
    color: var(--feedback-category-add-error-color);
    font-size: 12px;
    margin: 0;
}
