.statistics-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 400px;
  padding: 30px;
}

.statistics-title {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 8px;
  text-align: left;
}

.segmented-container {
  max-width: 100%;
  margin-bottom: 16px;
}

.period-container {
  display: flex;
  gap: 8px;
  align-items: center;
  max-width: 100%;
  margin-bottom: 8px;
}

.descriptions-container {
  width: 100%;
}

.error {
  color: #f5222d;
  background-color: #fff1f0; 
  border: 1px solid #ffa39e;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
}

.loader-container {
  width: 200px;
  height: 300px;
}
