<!DOCTYPE html>
<html lang="uk">
<head>
    <style>
        body {
            color: black;
            font-family: Arial, sans-serif;
        }
        p, b {
            color: black;
        }
    </style>
</head>
<body>
    <div>
        <img height="35" src="{{protocol}}://178.212.110.52/craftMerge-logo.png" alt="CraftMerge Logo"/>
        <p>Доброго дня,</p>
        <p>Вас успішно зареєстровано як адміністратора сайту CraftMerge.<br />
           Пароль для входу на платформу: {{ password }} (Рекомендуємо змінити його після першого входу.)<br />
           Посилання для входу: <a href="{{ protocol }}://{{ domain }}/login">{{ protocol }}://{{ domain }}/login</a>
        </p>

        <p>З повагою,<br />
            Команда CraftMerge
        </p>
    </div>
</body>
</html>