.admin_registration-section {
    display: flex;
    flex-direction: column;
}

.admin_registration-outer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.admin_registration-section__head {
    font-size: 14px;
    font-weight: normal;
}

.admin_registration-asterisk {
    font-family: var(--font-main);
    font-size: 14px;
    padding-right: 3px;
    color: var(--notification-text-color__admin-panel);
}

.admin_registration-label {
    color: var(--main-black-90, #292E32);
    font-family: var(--font-main);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;
}

.admin_registration-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 340px;
}

.admin_registration-input {
    height: 40px;
    box-sizing: border-box;
    padding: 9px 12px;
    font-size: 14px;
    border: 1px solid var(--border-input__admin-panel);
    border-radius: 2px;
}

.buttons-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 340px;
}

.admin_registration-button {
    display: flex;
    width: 200px;
    padding: 9px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--main-button-color);
    color: var(--main-button-text-color);
    text-align: center;
    font-feature-settings: 'calt' off;
    text-decoration: none;
    font-family: var(--font-main);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.16px;
    cursor: pointer;
}

.cancel-button {
    background-color: var(--light-button-color);
    border: 1px solid var(--light-button-border-color);
    color: var(--light-button-text-color);
    width: 120px;
}

.admin_registration-button:hover {
    background: var(--main-button-hover-color);
}

.cancel-button:hover {
    background: var(--light-button-hover-color);
}

.admin_registration-error {
    color: var(--error-notification-text-color__admin-panel);
    font-family: var(--font-main);
    font-size: 14px;
    margin-top: 7px;
}
