.admin-submit__container {
    margin-top: 16px;
}

.admin-submit__button {
    display: block;
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--main-button-color);
    background: var(--main-button-color);
    color: var(--main-button-text-color);
    font-feature-settings: 'calt' off;
    font-style: normal;
    padding: 7px 15px;
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: center;
    cursor: pointer;
}

.admin-submit__button:hover {
    background: var(--main-button-hover-color);
}

.admin-submit__button:active {
    transform: translateY(2px);
}
